In [6]:
import pandas as pd 
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [18]:
df['Age'].fillna(df['Age'].median(), inplace=True) 
df['Embarked'].fillna('S', inplace=True) 
df.isnull().sum()

C:\Users\Dorzh\AppData\Local\Temp\ipykernel_23220\2883505830.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)
C:\Users\Dorzh\AppData\Local\Temp\ipykernel_23220\2883505830.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna('S', inplace=True)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [19]:
df['Name_Length'] = df['Name'].apply(len)

In [20]:
df[['Name_Length', 'Name']].head(10)

   Name_Length                                               Name
0           23                            Braund, Mr. Owen Harris
1           51  Cumings, Mrs. John Bradley (Florence Briggs Th...
2           22                             Heikkinen, Miss. Laina
3           44       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4           24                           Allen, Mr. William Henry
5           16                                   Moran, Mr. James
6           23                            McCarthy, Mr. Timothy J
7           30                     Palsson, Master. Gosta Leonard
8           49  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9           35                Nasser, Mrs. Nicholas (Adele Achem)

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

# Выбираем фичи (пока простые) и таргет
features = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Name_Length']
df = pd.get_dummies(df, columns=['Sex', 'Embarked'], drop_first=True)  # one-hot для категориальных

X = df[features + ['Sex_male', 'Embarked_Q', 'Embarked_S']]
y = df['Survived']

# Делим на train/test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Обучаем логистическую регрессию
model = LogisticRegression(max_iter=200)
model.fit(X_train, y_train)

# Предсказываем
preds = model.predict(X_test)

# Метрики
print("Accuracy:", accuracy_score(y_test, preds))
print("Confusion Matrix:\n", confusion_matrix(y_test, preds))

Accuracy: 0.8212290502793296
Confusion Matrix:
 [[91 14]
 [18 56]]

C:\Users\Dorzh\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:406: ConvergenceWarning: lbfgs failed to converge after 200 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=200).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(